<!DOCTYPE HTML>
<html ng-app="SpeakingInCode">

<head>
	<title>Contribute to Speaking In Code</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script src='assets/js/module.js'></script>
      <script src='assets/js/exercisecontroller.js'></script>
	<script src="assets/js/factory.js"></script>
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js" rel="stylesheet"/>

</head>

<body ng-controller="ExerciseController as eCtrl">
	<!-- Header -->
	<header id="header">
		<div class="inner">
			<nav id="nav" style="float:left; width:80vw">
				<a href="index.html" style="float:left" href="#">Home</a>
				<a style="float:left" href="#">Account</a>
				<a style="float:left" href="#">Contact</a>
        <a style="margin-right:12%;float:right" href="auth.html">
				<ul style="float:right">Log In</ul>
        </a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1 style="color:rgba(255,255,255,.9)">Contribute to Speaking in Code</h1>
			</header>
			</div>
		</div>
	</section>



      <h1 id="contributeHeader">Create your exercise below!</h1>
<div class= "pumpkin">
  <div class="form-group" >
    <label class="label">Name: </label>
    <input type="text" required id="nameHolder" class="form-control" ng-model="eCtrl.exercise.name" placeholder="Exercise Name">
    <small id="emailHelp" class="form-text text-muted"><br>Please name your exercise. Humor is never allowed. <n></n></small>
  </div>
  <br>
    <div class="form-group">
    <label class="label">Type:</label>
    <select ng-model="eCtrl.exercise.type" class="form-control" id="exampleSelect1">
      <small id="emailHelp" class="form-text text-muted">
  
      <option value="" disabled>Select one--</option>
      <option value="js5">JavaScript ES5</option>
      <option value="js6">JavaScript ES6</option>
      <option value="angularjs">AngularJS</option>
      <option value="expressjs">ExpressJS</option>
      <option value="htmlcss">HTML/CSS</option>
      <option value="nodejs">NodeJS</option>
      <option value="terminal">Terminal</option>
    </select>
  </div>
    <br>
      <div class="form-group">
    <label class="label">Difficulty:</label>
    <select ng-model="eCtrl.exercise.difficulty"class="form-control" id="exampleSelect1">
      <small class="form-text text-muted">
  
      <option value="" disabled>Select one--</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard </option>
    </select>
  </div>
    <br>
     <div class="form-group">
    <label class="label">Verbal Instructions:</label>
    <textarea class="form-control" ng-model="eCtrl.exercise.instructions" id="exampleTextarea" rows="2"></textarea>
    <img id="speaking" src="./images/speak.png" ng-click="eCtrl.speakInstructions()">
    <small class="form-text text-muted"><br>Please enter verbal instructions for the user to the write the code. <br>The following words should not be used "dot", "period", "point", "var", etc. Use programming syntax!<n></n>.</small>
  </div>
  <div class="form-group">
    <label class="label">Code Answers:</label>
    <textarea required class="form-control" ng-repeat="answers in eCtrl.exercise.answers track by $index" ng-model="eCtrl.exercise.answers[$index]" id="answers" rows="2"></textarea>
     <small class="form-text text-muted"><br>Please enter the acceptable code responses to the verbal instructions. Spaces and case are ignored.<n></n></small>
     <br>
      <button type="button" ng-click="eCtrl.addAnswer()">Add Additional Answers</button>
  </div>
  <!--<br>
   <div class="form-group">
    <label class="label">Result Solutions:</label>
   <textarea placeholder="This is optional!" class="form-control" ng-repeat="solutions in eCtrl.exercise.solutions track by $index" class="form-control" ng-model="eCtrl.exercise.solutions[$index]" id="solutions" rows="2"></textarea>
    <small class="form-text text-muted"><br>Please enter the acceptable solutions. These solutions should only look at the final required values/conditions.<n></n></small>
    <br>
     <button type="button" ng-click="eCtrl.addSolution()">Add Additional Solutions</button>
  </div>-->
  <br>
  <div class="form-group">
    <label class="label">Hint:</label>
    <textarea class="form-control" id="exampleTextarea" ng-model="eCtrl.exercise.hint" rows="2"></textarea>
  </div>
<br>
  <button ng-click="eCtrl.createExercise()"type="submit"class="btn btn-primary center-block">Submit</button>
<div>
  <br>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner" style="color:rgb(33,43,64)">
					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" style="color:rgb(33,43,64)"placeholder="Email">
						</div>
						<div class="field">
							<label style"color:rgb(33,43,64,0.5)" for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; SpeakingInCode. Design: Christopher Brown and the Internet
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>