<!DOCTYPE html>
<html ng-app="SpeakingInCode">
    <head>
        <title> Create your own! </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        	<script src='assets/js/module.js'></script>
        <script 
        src='assets/js/exercisecontroller.js'></script>
        	<script src="assets/js/factory.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js" rel="stylesheet"/>

    </head>
       <body ng-controller="ExerciseController as eCtrl">


<div class="container">
  <div class="jumbotron">
    <h1>Create your own Speaking In Code challenges!</h1> 
    <p>Contribute by creating your own Speaking in Code challenges!</p> 
  </div>
</div>


      <h1 class="contributeHeader">Create your exercise below!</h1>
<form ng-submit="eCtrl.createExercise()">
  <div class="form-group">
    <label >Name: </label>
    <input type="text" class="form-control" ng-model="eCtrl.exercise.name" placeholder="Exercise Name">
    <small id="emailHelp" class="form-text text-muted"><br>Please name your exercise. Humor is never allowed. <n></n></small>
  </div>
    <div class="form-group">
    <label for="exampleSelect1">Type:</label>
    <select ng-model="eCtrl.exercise.type" class="form-control" id="exampleSelect1">
      <small id="emailHelp" class="form-text text-muted">
  
      <option value="" disabled>Select one--</option>
      <option value="js5">JavaScript ES5</option>
      <option value="js6">JavaScript ES6</option>
      <option value="angularjs">AngularJS</option>
      <option value="expressjs">ExpressJS</option>
      <option value="htmlcss">HTML/CSS</option>
      <option value="nodejs">NodeJS</option>
      <option value="terminal">Terminal</option>
    </select>
  </div>
      <div class="form-group">
    <label for="exampleSelect1">Difficulty</label>
    <select ng-model="eCtrl.exercise.difficulty"class="form-control" id="exampleSelect1">
      <small class="form-text text-muted">
  
      <option value="" disabled>Select one--</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard </option>
    </select>
  </div>

  <div class="form-group">
    <label for="answers">Code Answers</label>
    <textarea class="form-control" ng-repeat="answers in eCtrl.exercise.answers track by $index" ng-model="eCtrl.exercise.answers[$index]" id="answers" rows="2"></textarea>
     <small class="form-text text-muted"><br>Please enter the acceptable code responses to the verbal instructions. Spaces and case are ignored.<n></n></small>
      <button type="button" ng-click="eCtrl.addAnswer()">Add Answer</button>
  </div>
   <div class="form-group">
    <label for="solutions">Result Solutions</label>
   <textarea class="form-control" ng-repeat="solutions in eCtrl.exercise.solutions track by $index" class="form-control" ng-model="eCtrl.exercise.solutions[$index]" id="solutions" rows="2"></textarea>
    <small class="form-text text-muted"><br>Please enter the acceptable solutions. These solutions should only look at the final required values/conditions.<n></n></small>
     <button type="button" ng-click="eCtrl.addSolution()">Add Solution</button>
  </div>
   <div class="form-group">
    <label>Verbal Instructions</label>
    <textarea class="form-control" ng-model="eCtrl.exercise.instructions" id="exampleTextarea" rows="2"></textarea>
    <small class="form-text text-muted"><br>Please enter verbal instructions for the user to the write the code. The following words should not be used "dot", "period", "point", "var", etc. Use programming syntax!<n></n>.</small>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Hint</label>
    <textarea class="form-control" id="exampleTextarea" ng-model="eCtrl.exercise.hint" rows="2"></textarea>
  </div>

  <button type="submit"class="btn btn-primary center-block">Submit</button>
</form>

</body>
